<table style="width:100%">
  <br />
  <tr>
    <th> 
      <label for="latitude">Latitude</label>
    </th>
    <th>
        <input id="latitude" type="number" [(ngModel)]="latitude" placeholder="Latitude">
    </th>

    <th>
        <label for="longitude">Longitude</label>
    </th>
    <th> 
        <input id="longitude" type="number" [(ngModel)]="longitude" placeholder="Longitude">
    </th>
    <th>
      <button mat-flat-button (click)="setCenter()">Go </button>
    </th>
  </tr>
</table>
<br>
<div id="map" class="map"></div>
<div id="mouse-position"></div>